page-funding {

}

.meh_icon {
    font-size: 1000%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
}
.funding_text {
    color: orange;
}

.err_message {
    text-align: center;
    // font-size: 20px;
    color: rgb(0, 179, 234);
    margin-top: 20px;
}


.funding-content {
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: 500;
    justify-content: center;
}