
.no-margin {
    margin: 0;
}
.text-bold {
    font-weight: bold; 
}

.imageClass {
    display: flex;
    align-items: center;
    justify-content: center;
    .vam_logo {
        width: 160px;
    }
}

.save-btn-info{
    margin: 15px 0 0 15px;
    font-size: 130%;
}