<ion-header>
  <ion-navbar>
    <ion-title>ValueMomentum (POC)</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <ion-card>

    <div class="imageClass">
      <ion-img width="200" height="100" style="padding: 20px; margin: 10px" src="assets/imgs/VAM_logo.png"></ion-img>
    </div>

    <ion-card-content>
      <ion-card-title>
        VIN Scanner (POC)
      </ion-card-title>
      <p>
        You can scan your VIN number and verify your Vehicle details
      </p>
    </ion-card-content>
    <ion-row no-padding>
      <ion-col>
        <button ion-button full (click)="scan()">
          <ion-icon name="qr-scanner"></ion-icon>
          <span>&nbsp; &nbsp; Scan VIN</span>
        </button>
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col>
        <button ion-button full (click)="capture()">
          <ion-icon name="camera"></ion-icon>
          <span>&nbsp; &nbsp; Capture VIN</span>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <!-- <button ion-button full large (click)="scan()">scan vin</button> -->
  <ion-list-header *ngIf="barCodeData !== null">
    <label class="no-margin text-bold">VIN number</label>
    <div>{{barCodeData}}</div>
  </ion-list-header>

  <ion-list *ngIf="barCodeData !== null">
  <!-- <ion-list> -->
    <ion-list-header>
      Vehicle Information
    </ion-list-header>
    <ion-item *ngFor="let item of data">
      <label class="no-margin text-bold">{{item.Variable }}</label>
      <div>{{item.Value !== null ? item.Value : 'Not Found'}}</div>
    </ion-item>
    <ion-item style="text-align: center" *ngIf="data.length == 0">
      Vehicle Information Not found
    </ion-item>
    <div class="save-btn-info">
        <strong>You want to add this vehicle in your existing policy?</strong>
    </div>
    <ion-item>
      <!-- <button ion-button full (click)="save()">
        <ion-icon name="cloud-upload"></ion-icon>
       <span>&nbsp; &nbsp; Save this Information</span> </button> -->
      <ion-row>
        <ion-col>
          <!-- <div>
              <strong>you want to add this vehicle in your existing policy?</strong>
          </div> -->
          
        </ion-col>
      </ion-row>
      <ion-row no-padding>
        <ion-col>
          <button ion-button full (click)="save()">
            <!-- <ion-icon name="cloud-upload"></ion-icon> -->
            <span> Yes</span>
          </button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <span>2019 © Copyright ValueMomentum</span>
  </ion-toolbar>
</ion-footer>